name: scan

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

# https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#permissions
permissions:
  contents: read

on:
  workflow_dispatch:
    inputs:
      image:
        description: 'Image to scan'
        required: true

jobs:
  image:
    runs-on: ubuntu-latest
    steps:
      -
        name: Checkout
        uses: actions/checkout@v6
      -
        name: Scan for vulnerabilities
        id: scan
        uses: ./
        with:
          image: ${{ github.event.inputs.image }}
          annotations: true
      -
        name: JSON result
        run: cat ${{ steps.scan.outputs.json }}
